// Section Angles
.angle {
  &-t-l,
  &-t-r {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 51px;
      top: -50px;
      background-color: inherit;
    }
  }
  &-t-l {
    &::before {
      clip-path: polygon(0 0%, 0% 100%, 100% 100%);
    }
  }
  &-t-r {
    &::before {
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
  }
  &-b-l,
  &-b-r {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 51px;
      bottom: -50px;
      background-color: inherit;
    }
  }
  &-b-l {
    &::after {
      clip-path: polygon(100% 0, 0 0, 0 100%);
    }
  }
  &-b-r {
    &::after {
      clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
  }
}

.triangle {
  &-t-l,
  &-t-r,
  &-b-l,
  &-b-r,
  &-t-l-reverse,
  &-t-r-reverse,
  &-b-l-reverse,
  &-b-r-reverse {
    width: calc((100vw - 1200px) / 2);
    position: absolute;
    background-color: inherit;
  }
  &-t-l-reverse,
  &-t-r-reverse,
  &-b-l-reverse,
  &-b-r-reverse {
    transform: scaleX(-1);
  }
  &-t-l,
  &-t-r,
  &-t-l-reverse,
  &-t-r-reverse {
    top: 0;

    height: 181px;
    top: -180px;
  }
  &-b-l,
  &-b-r,
  &-b-l-reverse,
  &-b-r-reverse {
    height: 181px;
    bottom: -180px;
  }
  &-t-l,
  &-t-l-reverse {
    left: 0;
    right: auto;
    clip-path: polygon(0 0%, 0% 100%, 100% 100%);
  }
  &-t-r,
  &-t-r-reverse {
    right: 0;
    left: auto;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
  &-b-l,
  &-b-l-reverse {
    left: 0;
    right: auto;
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }
  &-b-r,
  &-b-r-reverse {
    right: 0;
    left: auto;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}
